-i https://pypi.org/simple
absl-py==1.4.0 ; python_version >= '3.6'
aiofiles==23.1.0 ; python_version >= '3.7' and python_version < '4.0'
aiohttp==3.8.4 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
altair==4.2.2 ; python_version >= '3.7'
antlr4-python3-runtime==4.9.3
anyio==3.6.2 ; python_full_version >= '3.6.2'
argilla==1.6.0 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version < '3.11'
attrs==22.2.0 ; python_version >= '3.6'
backoff==2.2.1 ; python_version >= '3.7' and python_version < '4.0'
beautifulsoup4==4.12.2
black==23.3.0 ; python_version >= '3.7'
bs4==0.0.1
cachetools==5.3.0 ; python_version ~= '3.7'
certifi==2023.7.22 ; python_version >= '3.6'
cffi==1.15.1
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
chromadb==0.3.21
click==8.1.3 ; python_version >= '3.7'
clickhouse-connect==0.5.20 ; python_version ~= '3.7'
cloudpickle==2.2.1 ; python_version >= '3.6'
coloredlogs==15.0.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
commonmark==0.9.1
contourpy==1.0.7 ; python_version >= '3.8'
cryptography==40.0.2 ; python_version >= '3.6'
cycler==0.11.0 ; python_version >= '3.6'
dataclasses-json==0.5.7 ; python_version >= '3.6'
deprecated==1.2.13 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
git+https://github.com/facebookresearch/detectron2.git@e2ce8dc1ab097891395d324abaffe9cf298503d1#egg=detectron2
duckdb==0.7.1
effdet==0.3.0
entrypoints==0.4 ; python_version >= '3.6'
et-xmlfile==1.1.0 ; python_version >= '3.6'
faiss-cpu==1.7.3
fastapi==0.95.1 ; python_version >= '3.7'
ffmpy==0.3.0
filelock==3.11.0 ; python_version >= '3.7'
flatbuffers==23.3.3
fonttools==4.39.3 ; python_version >= '3.8'
frozenlist==1.3.3 ; python_version >= '3.7'
fsspec==2023.4.0 ; python_version >= '3.8'
fvcore==0.1.5.post20221221 ; python_version >= '3.6'
google-auth==2.17.3 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
google-auth-oauthlib==1.0.0 ; python_version >= '3.6'
gptcache==0.1.11 ; python_full_version >= '3.8.1'
gradio==3.27.0
gradio-client==0.1.3 ; python_version >= '3.7'
greenlet==2.0.2 ; python_version >= '3' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
grpcio==1.53.0 ; python_version >= '3.7'
h11==0.14.0 ; python_version >= '3.7'
hnswlib==0.7.0
httpcore==0.16.3 ; python_version >= '3.7'
httptools==0.5.0
httpx==0.23.3 ; python_version >= '3.7'
huggingface-hub==0.13.4 ; python_full_version >= '3.7.0'
humanfriendly==10.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
hydra-core==1.3.2
idna==3.4 ; python_version >= '3.5'
iopath==0.1.9 ; python_version >= '3.6'
jinja2==3.1.2 ; python_version >= '3.7'
joblib==1.2.0 ; python_version >= '3.7'
jsonschema==4.17.3 ; python_version >= '3.7'
kiwisolver==1.4.4 ; python_version >= '3.7'
langchain==0.0.139
layoutparser[layoutmodels,tesseract]==0.3.4 ; python_version >= '3.6'
linkify-it-py==2.0.0
lxml==4.9.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
lz4==4.3.2 ; python_version >= '3.7'
markdown==3.4.3 ; python_version >= '3.7'
markdown-it-py[linkify]==2.2.0 ; python_version >= '3.7'
markupsafe==2.1.2 ; python_version >= '3.7'
marshmallow==3.19.0 ; python_version >= '3.7'
marshmallow-enum==1.5.1
matplotlib==3.7.1 ; python_version >= '3.8'
mdit-py-plugins==0.3.3 ; python_version >= '3.7'
mdurl==0.1.2 ; python_version >= '3.7'
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0 ; python_version >= '3.4'
multidict==6.0.4 ; python_version >= '3.7'
mypy-extensions==1.0.0 ; python_version >= '3.5'
networkx==3.1 ; python_version >= '3.8'
nltk==3.8.1 ; python_version >= '3.7'
numpy==1.23.5 ; python_version >= '3.8'
oauthlib==3.2.2 ; python_version >= '3.6'
olefile==0.46 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
omegaconf==2.3.0 ; python_version >= '3.6'
onnxruntime==1.14.1
openai==0.27.4
openapi-schema-pydantic==1.2.4 ; python_full_version >= '3.6.1'
opencv-python==4.6.0.66 ; python_version >= '3.6'
openpyxl==3.1.2 ; python_version >= '3.6'
orjson==3.8.10 ; python_version >= '3.7'
packaging==23.1 ; python_version >= '3.7'
pandas==1.5.3 ; python_version >= '3.8'
pathspec==0.11.1 ; python_version >= '3.7'
pdf2image==1.16.3
pdfminer.six==20221105 ; python_version >= '3.6'
pdfplumber==0.9.0 ; python_version >= '3.7'
pillow==9.5.0 ; python_version >= '3.7'
platformdirs==3.2.0 ; python_version >= '3.7'
portalocker==2.7.0 ; python_version >= '3.5'
posthog==2.5.0
protobuf==4.22.3 ; python_version >= '3.7'
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6 ; python_version >= '3.5'
pycparser==2.21
pydantic==1.10.7 ; python_version >= '3.7'
pydub==0.25.1
pygments==2.15.0 ; python_version >= '3.7'
pypandoc==1.11 ; python_version >= '3.6'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pypdf==3.7.1
pyrsistent==0.19.3 ; python_version >= '3.7'
pytesseract==0.3.10
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-multipart==0.0.6 ; python_version >= '3.7'
python-pptx==0.6.21
pytz==2023.3
pyyaml==6.0 ; python_version >= '3.6'
regex==2023.3.23 ; python_version >= '3.8'
requests==2.28.2
requests-oauthlib==1.3.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rfc3986[idna2008]==1.5.0
rich==13.0.1 ; python_full_version >= '3.7.0'
rsa==4.9 ; python_version >= '3.6'
scikit-learn==1.2.2 ; python_version >= '3.8'
scipy==1.10.1 ; python_version < '3.12' and python_version >= '3.8'
semantic-version==2.10.0 ; python_version >= '2.7'
sentence-transformers==2.2.2 ; python_full_version >= '3.6.0'
sentencepiece==0.1.98
setuptools==67.6.1 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0 ; python_version >= '3.7'
soupsieve==2.4 ; python_version >= '3.7'
sqlalchemy==1.4.47 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
starlette==0.26.1 ; python_version >= '3.7'
sympy==1.11.1 ; python_version >= '3.8'
tabulate==0.9.0 ; python_version >= '3.7'
tenacity==8.2.2 ; python_version >= '3.6'
tensorboard==2.12.2 ; python_version >= '3.8'
tensorboard-data-server==0.7.0 ; python_version >= '3.7'
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0 ; python_version >= '3.7'
threadpoolctl==3.1.0 ; python_version >= '3.6'
tiktoken==0.3.3
timm==0.6.13 ; python_version >= '3.7'
tokenizers==0.13.3
tomli==2.0.1 ; python_version < '3.11'
toolz==0.12.0 ; python_version >= '3.5'
torch==2.0.0 ; python_full_version >= '3.8.0'
torchvision==0.15.1 ; python_version >= '3.8'
tqdm==4.65.0 ; python_version >= '3.7'
transformers==4.28.1 ; python_full_version >= '3.7.0'
typing-extensions==4.5.0 ; python_version >= '3.7'
typing-inspect==0.8.0
uc-micro-py==1.0.1 ; python_version >= '3.6'
unstructured[local-inference]==0.5.12
unstructured-inference==0.3.2
urllib3==1.26.15 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
uvicorn[standard]==0.21.1 ; python_version >= '3.7'
uvloop==0.17.0
wand==0.6.11
watchfiles==0.19.0
websockets==11.0.1 ; python_version >= '3.7'
werkzeug==2.2.3 ; python_version >= '3.7'
wheel==0.40.0 ; python_version >= '3.7'
wrapt==1.14.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xlsxwriter==3.1.0 ; python_version >= '3.6'
yacs==0.1.8
yarl==1.8.2 ; python_version >= '3.7'
zstandard==0.20.0 ; python_version >= '3.6'
